.fblSection {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 24px 0 24px;
}

.fblHeadlineLarge {
  font-family: GzaTrial;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: var(--colours-fir);
  text-align: center;
}

.fblTextMedium {
  font-family: GzaTrial;
  font-weight: 300;
  color: var(--colours-fir);
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
}
.fblTextSmall {
  font-family: Karla;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  margin: 0 0 1rem 0;
  font-size: 1rem;
}
.fblTextQuote {
  font-family: GzaTrial;
  margin: 3rem auto;
  line-height: 1.15;
  font-size: 2.5rem;
  color: var(--colours-fir);
  text-align: center;
  border-top: 1px solid var(--colours-earth);
  border-bottom: 1px solid var(--colours-earth);
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 50%;
}

.fblTextWhite {
  color: var(--colours-cloud);
}

@media screen and (min-width: 1420px) {
  .fblSection {
    padding: 0;
  }
}
