.fblSection {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 24px 0 24px;
}

.fblHeadlineLarge {
  font-family: GzaTrial;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: var(--colours-fir);
  text-align: center;
}

.fblTextSmall {
  font-family: CopyTrial;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.fblTextWhite {
  color: var(--colours-cloud);
}

@media screen and (min-width: 1420px) {
  .fblSection {
    padding: 0;
  }
}
