:root {
  --colours-sage: hsla(164, 13%, 55%, 1);
  --colours-fir: #1c3934;
  --colours-sand: #ede1ce;
  --colours-cloud: hsla(40, 100%, 97%, 1);

  --colours-sage-10: hsla(164, 13%, 55%, 0.1);
  --colours-sage-20: hsla(164, 13%, 55%, 0.2);
  --colours-sage-test: hsla(164, 13%, 80%, 1);
  --colours-cloud-10: hsla(40, 100%, 97%, 0.1);
}
