.faqSection {
  padding-bottom: 5rem;
}

.block {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--colors-fir);
  cursor: pointer;
}

.faqSection detils summary {
  max-width: 70%;
}
