.footer {
  width: 100%;
  color: #fff;
  background-color: var(--colors-fir);
}

.footerContainer {
  max-width: 1420px;
  margin: 0 auto;
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
}

.footer a:hover {
  text-decoration: var(--colors-sage) wavy underline;
}

.footerHeader {
  padding: 2rem auto;
  font-family: GzaTrial;
  font-size: 2rem;
  max-width: 600px;
}
.footerNav {
  max-width: 600px;
  list-style-type: none;
  text-align: left;
  font-size: 1.2rem;
}

.footer ul li:not(:last-child) {
  margin-bottom: 1rem;
}
