.nav {
  color: var(--colours-fir);
  background-color: var(--colours-sage);
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-family: GzaTrial;
  text-align: left;
  padding: 0.5rem 1rem;
}

.navLogo a:hover {
  text-decoration: none;
}

.navLinks {
  font-size: 1.2rem;
  font-weight: 400;
}

.nav ul li {
  display: inline-block;
  margin-right: 3rem;
}

.navLinks a {
  padding: 0.5rem 1rem;
}

.navLinks a:hover {
  text-decoration: var(--colours-cloud) wavy underline;
  text-decoration-thickness: 1.22px;
}

.navLogo:focus-visible,
.navLinks a:focus-visible,
.navButton a:focus-visible {
  box-shadow: 0 0 0 1px var(--colours-sage-test);
  outline: 0 transparent solid;
  border-radius: 10px;
}

.navLogo:focus-visible,
.navLinks a:focus:not(:focus-visible),
.navButton a:focus:not(:focus-visible) {
  box-shadow: 0;
  border-radius: 10px;
  outline: 0 transparent solid;
}

.navButton {
  background-color: var(--colours-fir);
  padding: 0.5rem 1rem;
  color: var(--colours-sage);
  border: 1px solid var(--colours-fir);
  font-size: 1.2rem;
  border-radius: 10px;
  border-bottom: 0;
}

.navButton:hover {
  scale: 1.05;
  text-decoration: none;
}

.desktopNavContainer {
  display: none;
}

.mobileNavContainer {
  margin-top: 55px;
  width: 100vw;
  height: 100vh;
  background-color: var(--colours-sage);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
}

.mobileNavContainer ul {
  padding: 0 1.5rem;
}

.mobileNavContainer ul li {
  font-size: 2rem;
  margin-bottom: 2rem;
  display: block;
}

.menuToggle {
  width: 35px;
  height: 25px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menuToggle:focus-visible {
  background-color: var(--colours-fir-2 0);
  outline: 0 transparent solid;
}

.menuToggle:focus:not(:focus-visible) {
  background-color: var(--colours-sage);
  outline: 0 transparent solid;
}

.menuLine {
  height: 2px;
  width: 100%;
  background-color: var(--colours-fir);
}

.menuLine:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 800px) {
  .menuToggle {
    display: none;
  }
  .desktopNavContainer {
    display: block;
  }

  .mobileNavContainer {
    display: none;
  }
}
