.hero {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.heroDark {
  background-color: var(--colours-sage);
}
.heroLight {
  background-color: var(--colours-cloud);
}

.title {
  font-family: GzaTrial;
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.titleLight {
  color: var(--colours-cloud);
}
.titleDark {
  color: var(--colours-sage);
}

.title,
.description {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .title {
    font-size: 4rem;
  }

  .hero {
    min-height: 60vh;
    margin-bottom: 3rem;
  }
}
