.intro {
  margin: 5rem auto 12rem auto;
}

.introTitle {
  font-family: GzaTrial;
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  max-width: 500px;
  color: var(--colours-fir);
}

.titleLight {
  color: var(--colours-cloud);
}

.titleDark {
  color: var(--colours-sage);
}

.title,
.description {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .title {
    font-size: 4rem;
  }

  .hero {
    min-height: 60vh;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 700px) {
  .intro {
    margin: 8rem auto 15rem auto;
  }
}
