.packageContainer {
  padding: 3rem 0;
  list-style-type: none;
  counter-reset: packageCounter;
}

.packageTile {
  background-color: var(--colours-sage-10);
  max-width: 400px;
  padding: 2rem;
  counter-increment: packageCounter;
  position: relative;
}

.packageTile::before {
  color: transparent;
  content: counter(packageCounter);
  font-family: GzaTrial;
  font-size: 5rem;
  position: absolute;
  width: 40px;
  left: calc(50% - 20px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--colours-fir-20);
}

.packageName {
  font-family: GzaTrial;
  color: var(--colours-fir);
  text-align: center;
  font-size: 2rem;
}

.bookLink {
  background-color: var(--colours-sage);
  color: white;
  padding: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.packageHeader {
  border-top: 1px solid var(--colours-fir);
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  padding: 3rem 1rem 2rem;
  font-weight: 300;
  text-align: center;
  position: relative;
}

.packageHeader::before {
  width: 100%;
  /* content: '✦✦✦'; */
  font-size: 0.5em;

  position: absolute;
  left: 0;
  margin-top: -30px;
}

.packageFooter {
  padding-top: 2rem;
  font-weight: bold;
  color: var(--colours-fir);
}

.packageFooter p {
  margin: 0;
}
