.triptych {
  background: linear-gradient(
    to bottom,
    white,
    white 150px,
    var(--colours-cloud) 150px,
    var(--colours-cloud) 100%
  );
}

.triptychContainer {
  flex-direction: column;
}

.tile {
  max-width: 300px;
  margin: 0 auto 100px;
}

.tile img {
  border-radius: 50%;
}

.teaserHeading {
  font-family: GzaTrial;
  text-align: center;
}

.teaserLink {
  font-family: GzaTrial;
  border-bottom: 1px solid var(--colours-sage);
  padding-bottom: 5px;
  cursor: pointer;
}

.teaserLink img {
  transition: 300ms all ease-in-out;
}

.teaserLink img:hover {
  filter: grayscale(1);
  background-color: var(--colours-cloud);
}

.teaserLink:focus-visible {
  outline: 0 transparent solid;
  transform: scale(1.05);
}

.teaserLink:focus:not(:focus-visible) {
  outline: 0 transparent solid;
  /* TODO: Figure out focus style for images */
}

.teaserLink:hover {
  border-bottom: 1px solid var(--colours-fir);
}

@media screen and (min-width: 700px) {
  .triptych {
    background: linear-gradient(
      to bottom,
      white,
      white 25%,
      var(--colours-cloud) 25%,
      var(--colours-cloud) 100%
    );
  }

  .triptychContainer {
    flex-direction: row;
  }

  .tile {
    margin: 0 30px 150px auto;
    padding: 0;
  }

  .tile:last-child {
    margin-right: 0;
  }
}
